* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: seashell;
}

.categories {
  margin: 50px 50px;
}

.products {
  float: left;
  width: 25%;
  padding: 25px 65px 10px 40px;
  margin: 10px 0px 35px 0px;
  background-color: gainsboro;
}

.products img {
  border: 2px solid black;
}

.card {
  margin: 60px 70px;
}

.card h2 {
  color: rgb(255, 0, 106);
}

